@model UserInfo

<main class="text-center">
    <h1 class="h4">Toplantı Özeti</h1>
    <p>Toplantıya sizinle birlikte 20 kişi katılıyor.</p>
    <a class="btn btn-se btn-outline-primary" href="a">Katılımcıları Listele</a>
</main>